{% extends 'myapp/base.html' %}

{% block title %}Book Detail - {{ book.title }}{% endblock %}

{% block myhdg %}Book Details{% endblock %}

{% block body_block %}
    <h2>{{ book.title }}</h2>
    <p class="data"><strong>Price:</strong> ${{ book.price }}</p>
    <p><strong>Publisher:</strong> {{ book.publisher.name }}</p>
    <p><strong>Category:</strong> {{ book.get_category_display }}</p>
    <p><strong>Number of Pages:</strong> {{ book.num_pages }}</p>
    {% if book.description %}
        <p><strong>Description:</strong> {{ book.description }}</p>
    {% endif %}
{% endblock %}
